

#menuHamburger{

    position: relative;
    left:85%;
    bottom: 3.5rem;
    width: 3rem;
    z-index: 10;
    font-size: 2.5rem;

    a{
        color: $basic-color;
    }

    a:active{
        color: $jony-color;
    }
}


.l-main-nav{

    display: none;

    &.is-active{
        display:block;
    }

    ul{
        position: absolute;
        left: 5%;
        top: 4rem;
        background-color: $basic-color;
        width: 90%;
        height: 15rem;
        }
    
        a{
            display: block;
            padding: 1rem 0 0 0.5rem;
            color: black;
        }
    
        a:active{
            color: $jony-color;
            font-size: 2rem;
        }
}



@media screen and(min-width: map-get($break-point, md)){


    #menuHamburger{
        display: none;
    }
    
    .l-main-nav{ 

        display: block;
        padding: 1rem 0 0 0;
        
        ul{
        height: 3rem;
        position:unset;
        background: unset;
        width: 100%;
    }

        li{
        display: inline-block;
        margin: 0 1rem 0 0;
    }

        a{
        font-size: $pc-font-size;
        padding: 0;
        margin: 0;
        color: $jony-color;
    }

    a:hover{
        color: $basic-color;
    }

    a:active{
        font-size: $tablette-font-size;
    }
}

}