
//couleurs 

$background-color-1:#311E25;

$background-color-2: #3B2930;

$jony-color: #DB9A64;

$basic-color: #fff;

// tailles

$mobile-font-size: 18px;
$tablette-font-size: 16px;
$pc-font-size: 14px;

// media queries 

$break-point: (
    md: 720px,
    lg: 1024px
);